{% extends "Main.html" %}
<!-- -->
{% block content %}
<!-- -->
{% for forecast in daily_forecast %}
<div class="card-container">
  <div class="card">
    <div class="card-content">
      <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" />
      <p>City : {{city}}</p>
      <p>Date : {{forecast.date}}</p>
      <p>Temperature : {{forecast.temp}}</p>
      <p>Weather : {{forecast.weather}}</p>
      <p>Humidity : {{forecast.humidity}}%</p>
      <p>Wind : {{forecast.wind}}m/s</p>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
